.navbar-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}
.navbar-item {
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 10px;
}
.navbar-item:hover {
  border-bottom: 2px solid rgb(224, 44, 44);
}
.navbar-item-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #000;
  display: flex;
  align-items: center;
  padding: 6px;
}
.navbar-item + .navbar-item {
  margin-left: 24px;
}
.navbar-img {
  background-color: transparent;
  background-color: none;
}
.navbar-btn {
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 9px;
}
.navbar-item-link:hover {
  text-decoration: none;
  color: #000;
  background-color: rgb(244, 240, 240);
  padding: 6px;
  border-radius: 10px;
}